
/* add background color for body for all pages */
body {
  background-color: lightsteelblue;

}

  .box {
    padding: 30px;
    color: darkslategray;
    background: white;
    margin: 50px;
  }

  #box-visual {
    padding: 20px;
    background: white;
    margin: 50px;
 
  }

  .image {
    float: left;
    padding: -10px;
  
  }

  #image-visual {
    margin-left: -70px;
    padding: 10px;
  }


  h1 {
    font-family: arial;
    font-size: 30px;
    text-transform: uppercase;
    color: navy;
    text-align: center;
    padding: 40px;
  }


  h2 {
    font-family: arial;
    font-size: 30px;
    color: navy;
    text-emphasis: bold;
  }

  h3 {
    font-size: 15px;
    color: gray;
  }

  h4 {
    font-size: 20px;
    color: navy;
  }
  
  p {
    font-family: arial;
    color: navy;
    font-size: 20px;
  }

  .col-md-6 {
    padding: 55px;
  }

  .col-md-12 {
    padding: 30px;
    margin: 20px;
  }

/*
  .col-md-8 {
    left: 200px;
  }
*/

  .col-md-4 {
    left: -50px;
  
  }

  
  /*Add media for containers to adjust as window size reduces*/
  @media (max-width: 600px) {
    .box {
      padding: 30px;
      color: darkslategray;
      background: white;
      margin: 50px;
    }

    .col-md-6 {
      padding: 55px;
    }
  
    .col-md-12 {
      padding: 30px;
      margin: 20px;
    }

    .col-md-4 {
      left: -50px;
    
    }
  
    #box-visual {
      padding: 20px;
      background: white;
      margin: 50px;
   
    }
  
    .image {
      float: left;
      padding: -10px;
    
    }
  
    #image-visual {
      margin-left: -70px;
      padding: 10px;
    }
  
  
  }